/*************** Main ***************/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: 0.2s;
}
a {
  text-decoration: none;
  color: #123;
}
a:hover, a:focus {
  color: #f55;
}
.app {
  width: 375px;
  height: 600px;
}
/************
width: 375px
height 667px {
  .app 600px
  footer 67px
}************/



/*************** Main-page ***************/
.app__main-page {
  width: 100%;
  height: 100%;
  background: url(../img/main-background.jpg);
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


/*************** Training page ***************/
.app__train-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.app__train-page h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}
.app__train-page ul li {
  margin-top: 10px;
  font-size: 1.2em;
}

/*************** Footer ***************/
footer {
  box-sizing: border-box;
  width: 375px;
  height: 67px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px 15px;
}
footer a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  color: #123;
  font-size: 0.95em;
  font-weight: 700;
}
footer a i {
  font-size: 1.6em;
  margin-bottom: 10px;
}
.line {
  height: 80%;
  width: 1px;
  border-radius: 5px;
  background-color: #123;
}
.footer__selected {
  color: #f55;
}


/*************** Buttons ***************/
.btn {
  display: block;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 0 2px 0 #000;
  border-radius: 10px;
  background-color: #f55;
  color: #fff;
}
.btn-big {
  font-size: 2em;
  padding: 15px 20px;
}
