:root {
  --main-bg-color: #eee;
  --calc-bg-color: #ddd;
  --calc-text-color: #333;
}
/* MAIN */
body, ul, li, p {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--main-bg-color);
}

/* CAROUSEL */
.carousel {
  min-width: 375px;
  display: flex;
  align-items: center;
}
.carousel__btn {
  width: 25px;
  height: 30px;
  font-size: 18px;
}
.carousel__container {
  margin: 5px;
  width: 315px;
  overflow: hidden;
}
.carousel__list {
  width: 945px;
  list-style-type: none;
  transition: .4s;
  margin-left: 0px; /* start position */
}
.carousel__item {
  width: 315px;
  float: left;
}

/* ALL CALCS */
.calc {
  background: var(--calc-bg-color);
  color: var(--calc-text-color);
  font-family: Georgia, sans-serif;
  box-sizing: border-box;
  padding: 5px;
}

/* DEPOSIT CALCULATOR */
.calc--deposit__user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calc--deposit__header {
  display: table;
  margin: 10px auto;
}
.calc--deposit__flex-row {
  display: flex;
  flex-direction: row;
}
.calc--deposit__item {
  margin: 5px;
}
.calc--deposit__input {
  width: 100px;
  padding: 2px;
}